[marshalling]
deserialize_format=json
serialize_format=json

[user_auth_config]
endpoint=127.0.0.1:5000
strategy=keystone_v3

[compute_endpoint]
region=RegionOne
compute_endpoint_name=nova

[compute]
hypervisor=kvm

[user]
username=admin
password=password

[compute_secondary_user]
username=demo
password=password

[flavors]
primary_flavor=m1.nano
secondary_flavor=m1.micro
resize_up_enabled=False
resize_down_enabled=False

[images]
primary_image=cirros-0.3.4-x86_64-rootfs
secondary_image=cirros-0.3.4-x86_64-rootfs
image_status_interval=15
snapshot_timeout=600
can_get_deleted_image=false
primary_image_has_protected_properties=False
primary_image_default_user=root
non_inherited_metadata_filepath=%(CAFE_DATA_DIR_PATH)s/compute/non_inherited_metadata.txt
delta_image_size=0.05

[servers]
instance_auth_strategy=key
server_status_interval=15
server_build_timeout=600
server_resize_timeout=600
network_for_ssh=private
ip_address_version_for_ssh=4
instance_disk_path=/dev/xvda
connection_retry_interval=15
connection_timeout=600
keep_resources_on_failure=False
expected_networks={"private": {"v4": true, "v6": false}}
split_ephemeral_disk_enabled=False
disk_format_type=ext3
personality_file_injection_enabled=True
ephemeral_disk_max_size=300
default_file_path=/
resource_build_attempts=1
